<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion des budgets{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/gestionbudget/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/gestionbudget/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/gestionbudget/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('front-end/bower_components/angular-xeditable/dist/css/xeditable.min.css') }}">
        <style>
            .container {
                padding-top: 35px;
            }
        </style>
    </head>
    <body ng-app="gestionBudget">
    <div class="menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#">Gestion Budget</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {#{% if is_granted("ROLE_ADMIN") %}#}
                    {#<li><a href="{{ path('orderline_new') }}">Créer une commande</a></li>#}
                    {#{% endif %}#}
                </ul>
                <ul class="nav navbar-nav pull-right" style="color: white; padding-top: 8px">
                    <a href="{{ path('fos_user_registration_register') }}"  style="color: white" ><span style="color: white" class="glyphicon glyphicon-user"></span> Créer compte</a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a style="color: white"href="{{ path('fos_user_security_logout') }}" ><span style="color: white; margin-left: 15px" class="glyphicon glyphicon-log-out"></span>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>

                        ({{app.user.username }})
                        {#{% else %}#}
                        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
            {#<div>#}
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
                    {#<li>#}

                        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            {#<a href="{{ path('fos_user_security_logout') }}"><span style="margin-right: 5px;" class="glyphicon glyphicon-log-out"></span>#}
                                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                            {#</a>#}
                        {#{% else %}#}
                            {#<a href="{{ path('fos_user_security_login') }}"><span style="margin-right: 5px;" class="glyphicon glyphicon-log-in"></span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                        {#{% endif %}#}
                    {#</li>#}
                {#</ul>#}

            {#</div>#}
        </div>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    <script src="{{ asset('front-end/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/gestionbudget/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front-end/bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ asset('front-end/app.js') }}"></script>
    <script src="{{ asset('front-end/services/DBService.js') }}"></script>
    <script src="{{ asset('front-end/controllers/DBController.js') }}"></script>
    <script src="{{ asset('front-end/bower_components/angular-xeditable/dist/js/xeditable.min.js') }}"></script>
    </body>
</html>


