<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion des budgets{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('senegal.png') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/gestionbudget/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/gestionbudget/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/gestionbudget/css/style.css') }}">
        {#<link rel="stylesheet" href="{{ asset('front-end/node_modules/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css') }}">#}
        <link rel="stylesheet" href="{{ asset('front-end/bower_components/angular-xeditable/dist/css/xeditable.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front-end/node_modules/ng-table/bundles/ng-table.min.css') }}">
        <style>
            .container {
                padding-top: 35px;
            }
            .dropdown-toggle {
                background: transparent;
                border: none;
                color: white;
            }
        </style>
    </head>
    <body ng-app="gestionBudget">
    <div class="menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#">Gestion Budget</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% if is_granted("ROLE_ADMIN") %}
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="dropdown">

                                <button  class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Administration

                                    <span class="caret"></span></button>

                                <ul class="dropdown-menu list-group" role="menu" aria-labelledby="menu2">
                                    <li class="list-item"><a href="{{ path('commune_index') }}">Compte</a></li>
                                    <li class="divider"></li>
                                    <li class="list-item"><a href="{{ path('chapitre_index') }}">Chapitre</a></li>
                                    <li class="divider"></li>
                                    <li class="list-item"><a href="{{ path('region_index') }}">Region</a>
                                    </li><li class="divider"></li>
                                    <li class="list-item"><a href="{{ path('departement_index') }}">Departement</a></li>
                                    </li><li class="divider"></li>
                                    <li class="list-item"><a href="{{ path('commune_index') }}">Commune</a></li>
                                    <li class="divider"></li>
                                    <li class="list-item"><a href="{{ path('donneesbudget_new') }}">Donnes Budgetaires</a></li>

                                </ul>

                            </div>
                        </li>
                    </ul>
                {% endif %}

                <ul class="nav navbar-nav pull-right" style="color: white; padding-top: 8px">
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('fos_user_registration_register') }}"  style="color: white" ><span style="color: white" class="glyphicon glyphicon-user"></span> Créer compte</a>

                    {% endif %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a style="color: white"href="{{ path('fos_user_security_logout') }}" ><span style="color: white; margin-left: 15px" class="glyphicon glyphicon-log-out"></span>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>

                        ({{app.user.username }})
                        {#{% else %}#}
                        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
            {#<div>#}
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
                    {#<li>#}

                        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            {#<a href="{{ path('fos_user_security_logout') }}"><span style="margin-right: 5px;" class="glyphicon glyphicon-log-out"></span>#}
                                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                            {#</a>#}
                        {#{% else %}#}
                            {#<a href="{{ path('fos_user_security_login') }}"><span style="margin-right: 5px;" class="glyphicon glyphicon-log-in"></span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                        {#{% endif %}#}
                    {#</li>#}
                {#</ul>#}

            {#</div>#}
        </div>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    <script src="{{ asset('front-end/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/gestionbudget/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/fusioncharts.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    <script src="{{ asset('front-end/bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ asset('front-end/app.js') }}"></script>
    <script src="{{ asset('front-end/services/DBService.js') }}"></script>
    <script src="{{ asset('front-end/controllers/DBController.js') }}"></script>
    <script src="{{ asset('front-end/bower_components/angular-xeditable/dist/js/xeditable.min.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/angular-smart-table/dist/smart-table.min.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/ng-table/bundles/ng-table.min.js') }}"></script>
    <script src="{{ asset('front-end/angular-fusioncharts.min.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/fusioncharts.maps.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/maps/fusioncharts.senegal.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/themes/fusioncharts.theme.carbon.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/themes/fusioncharts.theme.fint.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/themes/fusioncharts.theme.ocean.js') }}"></script>
    <script src="{{ asset('front-end/node_modules/fusioncharts/themes/fusioncharts.theme.zune.js') }}"></script>
    {#<script src="{{ asset('front-end/node_modules/bootstrap-validator/dist/validator.min.js') }}"></script>#}
    {#<script src="{{ asset('front-end/node_modules/x-editable/dist/bootstrap-editable/js/bootstrap-editable.min.js') }}"></script>#}
    </body>
</html>


