{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'registration.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}
{% block body %}
    <h1 class="text-center">Creer un compte uilisateur</h1>

    <div class="container ">

        {{ form_start(form) }}
            <form  name='register_form'
                   id='register_form'
                   method='post'
                   action='{{path('fos_user_registration_register')}}'>
                {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder':'Nom d\'utilisateur'}}) }}
                {{ form_row(form.nom,{'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }}
                {{ form_row(form.prenom,{'attr': {'class': 'form-control', 'placeholder':'Prénom'}}) }}
                {{ form_row(form.adresse,{'attr': {'class': 'form-control', 'placeholder':'Adresse'}}) }}
                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'mot de passe'}}) }}
                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'Confirmer le mot de passe'}}) }}
                {{ form_row(form.email,{'attr': {'class': 'form-control', 'placeholder':'Adrésse Email'}}) }}
                {{ form_row(form.region,{'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.departement,{'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.commune,{'attr': {'class': 'form-control'}}) }}
            </form>
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success" style="margin-top: 20px" />
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}