{% extends 'base.html.twig' %}

{% block body %}
    <div class="row container" ng-controller="donneesBudget">
        <div class="col-md-12" >

            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="alert alert-success">
                    <p>Département : {{ app.user.departement.nomDepartement }}</p>
                    {% if app.user.commune %}
                        <p>Commune : {{ app.user.commune.nomCommune }}</p>
                    {% endif %}
                </div>
                 <div id="alert" ng-hide="isnumber" class="alert alert-danger">
                     <p>La valeur saisie doit être un entier ou un décimal</p>
                 </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Saisie des données budgétaires</div>
                    <div class="panel-body">
                        <div class="row" style="display: flex; padding-bottom: 15px;">
                            <div class="col-lg-4">
                                <input  placeholder="Numéro compte" ng-model="numerocompte" class=" form-control" type="search"/>
                            </div>
                            <div class="col-lg-4">
                                <input  placeholder="libelle compte" ng-model="libellecompte" class="form-control" type="search"/>
                            </div>
                            <div class="col-lg-4 text-right">
                                <input  placeholder="chapitre" ng-model="chapitrecompte" class="form-control " type="search"/>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table  ng-table="allDonnees"  class="table table-striped table-bordered table-list text-center">
                                <thead>
                                <tr>
                                    {#<th class="hidden-xs">ID</th>#}
                                    <th>Compte</th>
                                    <th>Libellé compte</th>
                                    <th>Chapitre</th>
                                    <th>Budget demande</th>
                                    <th>Budget vote</th>
                                    <th>Budget recouvre</th>
                                    <th>Date saisie</th>
                                    <th>% recouvrement</th>
                                    {#<th>Departement</th>#}
                                    {#<th>commune</th>#}
                                    <th>User</th>
                                    <th style="width: 20%; text-align: center"><em class="glyphicon glyphicon-cog"></em></th>
                                </tr>
                                {#<tr><input st-search="budgetDemande" class="form-control" placeholder="global search ..." type="text"/></tr>#}
                                </thead>
                                <tbody>
                                {#{% for donneesBudget in donneesBudgets %}#}
                                <tr ng-repeat="donneesBudget in $data | filterByNumCompte:numerocompte | filterByLibelleCompte:libellecompte | filterByChapitreCompte:chapitrecompte  track by donneesBudget.id">

                                    {#<a href="{{ path('donneesbudget_edit', { 'id': donneesBudget.id }) }}" class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>#}
                                    {#<a class="btn btn-primary" href="{{ path('donneesbudget_show', { 'id': donneesBudget.id }) }}"><em class="glyphicon glyphicon-list"></em></a>#}
                                    {#<a class="btn btn-danger"><em class="glyphicon glyphicon-trash"></em></a>#}
                                    {#<td class="hidden-xs"><a href="{{ path('donneesbudget_show', { 'id': donneesBudget.id }) }}">{{ donneesBudget.id }}</a></td>#}
                                    <td>[[ donneesBudget.compte.numeroCompte ]]</td>
                                    <td>[[ donneesBudget.compte.libelle ]]</td>
                                    <td>[[ donneesBudget.compte.chapitre.designation ]]</td>
                                    <td>
                                    <span editable-text="donneesBudget.budgetDemande" e-name="budgetDemande" e-form="rowform" onbeforesave="">
                                     [[ donneesBudget.budgetDemande || 'empty' ]]
                                    </span>

                                    </td>
                                    <td>
                                    <span  editable-text="donneesBudget.budgetVote" e-name="budgetVote" e-form="rowform" onbeforesave="">
                                     [[ donneesBudget.budgetVote || 'empty' ]]
                                    </span>
                                    </td>
                                    <td>
                                    <span editable-text="donneesBudget.budgetrecouvre" e-name="budgetrecouvre" e-form="rowform" onbeforesave="">
                                     [[ donneesBudget.budgetrecouvre || 'empty' ]]
                                    </span>
                                    </td>
                                    <td>[[ donneesBudget.dateSaisie.timestamp | date : 'dd/MM/yyyy' ]]</td>
                                    <td>%</td>
                                    {#<td>[[donneesBudget.departement.nomDepartement]]</td>#}
                                    {#<td>[[donneesBudget.commune.nomCommune]]</td>#}
                                    <td>[[donneesBudget.user.prenom]]</td>
                                    <td align="center" style="white-space: nowrap">
                                        <!-- form -->
                                        <form editable-form  name="rowform" onbeforesave="saveDonneeBudget($data, donneesBudget.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == donneesBudget">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </form>
                                        <div class="buttons"  ng-show="!rowform.$visible">
                                            <button type="button" id="editForm" class="btn btn-success" ng-click="rowform.$show()"><i class="glyphicon glyphicon-pencil"></i></button>
                                            {#<button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>#}
                                        </div>
                                    </td>
                                </tr>
                                {#{% endfor %}#}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

{% endblock %}